@import './_variables.scss'; 
	.acme-fmt-value {
		display: inline-flex;
		align-items: baseline;
		gap:var(--acme-fmt-gap,var(--acme-space-xs));
		white-space: nowrap;
		color: var(--acme-fmt-text-color, var(--acme-text-color-primary)); 
		font-size: var(--acme-fmt-font-size,var(--acme-font-size-base));
		font-weight: var(--acme-fmt-font-weight, normal);
		.prefix-slot,
		.suffix-slot {
			display: inline-flex;
			align-items: baseline;
				// 默认插槽文本颜色和字体大小，继承主文本样式
			color: var(--acme-fmt-slot-color, inherit); 
			font-size: var(--acme-fmt-slot-font-size, inherit);
			font-weight: var(--acme-fmt-slot-font-weight, inherit);
		}
	}
	
	.acme-text-profit{
		color:var(--acme-success);
	}
	.acme-text-flat{
		color:var(--acme-info);
	}
	.acme-text-fall{
		color:var(--acme-error)
	}
	
	.acme-bg-profit{
		background-color:var(--acme-success);
		padding: var(--acme-spacing-xs);
		border-radius: var(--acme-border-radius-sm);
	}
	.acme-bg-flat{
		background-color:var(--acme-info);
		padding: var(--acme-spacing-xs);
		border-radius: var(--acme-border-radius-sm);
	}
	.acme-bg-fall{
		background-color:var(--acme-error);
		padding: var(--acme-spacing-xs);
		border-radius: var(--acme-border-radius-sm);
	}
	
	.acme-bg-profit-rgba{
		color:var(--acme-success);
		background-color:rgba(var(--acme-success-rgb), var(--acme-opacity-medium));
		padding: var(--acme-spacing-xs);
		border-radius: var(--acme-border-radius-sm);
	}
	.acme-bg-flat-rgba{
		color:var(--acme-info);
		background-color:rgba(var(--acme-info-rgb), var(--acme-opacity-medium));
		padding: var(--acme-spacing-xs);
		border-radius: var(--acme-border-radius-sm);
	}
	.acme-bg-fall-rgba{
		color:var(--acme-error);
		background-color:rgba(var(--acme-error-rgb), var(--acme-opacity-medium));
		padding: var(--acme-spacing-xs);
		border-radius: var(--acme-border-radius-sm);
	}