:root {
	--acme-primary-color: teal;
	--acme-bg-page: #f8f8f8;
	--acme-bg-card: #ffffff;
	--acme-border-color: #e0e0e0;
	--acme-chart-line-color: #FD1050;
	--acme-chart-area-gradient-start: rgba(253, 16, 80, 0.3);
	--acme-chart-area-gradient-end: rgba(253, 16, 80, 0);
	--acme-chart-kline-up: #FD1050;
	--acme-chart-kline-down: #0CF49B;
}


.dark-theme {
	--acme-primary-color: #66b3ff;
	--acme-bg-page: #1a1a1a;
	--acme-bg-card: #2a2a2a;
	--acme-border-color: #444444;
	--acme-chart-line-color: #FD1050;
	--acme-chart-area-gradient-start: rgba(253, 16, 80, 0.3);
	--acme-chart-area-gradient-end: rgba(253, 16, 80, 0);
	--acme-chart-kline-up: #FD1050;
	--acme-chart-kline-down: #0CF49B;
}