:root {
	--acme-svg-input-del: #CDCDCD;
	--acme-input-placeholder-size: 22rpx;
}

.dark-theme {
	--acme-primary-color: #66b3ff;
	--acme-bg-page: #121212;
	--acme-info: #A8A8A8;
	--acme-success: #0CF49B;
	--acme-error: #FD1050;
	--acme-warn: #FFD700;
	--acme-copyright-color: var(--acme-primary-color);
	--acme-empty-data-color: var(--acme-info);
	--acme-fmt-color: #f8f8f8;
	--acme-input-placeholder-color: var(--acme-info);
	--acme-input-color: #f8f8f8;
	--acme-input-border-color: #444444;

	/* 	--acme-bg-card: #2a2a2a;
	--acme-chart-line-color: #FD1050;
	--acme-chart-area-gradient-start: rgba(253, 16, 80, 0.3);
	--acme-chart-area-gradient-end: rgba(253, 16, 80, 0);
	--acme-chart-kline-up: #FD1050;
	--acme-chart-kline-down: #0CF49B; */
}

.light-theme {
	--acme-primary-color: teal;
	--acme-bg-page: #f8f8f8;
	--acme-info: #909399;
	--acme-success: #0CF49B;
	--acme-error: #FD1050;
	--acme-warn: #FFA500;
	--acme-copyright-color: var(--acme-primary-color);
	--acme-empty-data-color: var(--acme-info);
	--acme-fmt-color: #121212;
	--acme-input-placeholder-color: var(--acme-info);
	--acme-input-color: #121212;
	--acme-input-border-color: #e0e0e0;

	/* 	--acme-bg-card: #ffffff;
	--acme-chart-line-color: #FD1050;
	--acme-chart-area-gradient-start: rgba(253, 16, 80, 0.3);
	--acme-chart-area-gradient-end: rgba(253, 16, 80, 0);
	--acme-chart-kline-up: #FD1050;
	--acme-chart-kline-down: #0CF49B; */
}