:root {
	--acme-input-placeholder-size: 22rpx;
	--acme-fmt-size: 26rpx;
	--acme-preset-selector-size: 28rpx;

	/* box-shadow */
	--acme-shadow-elevation-0: none;
	--acme-shadow-elevation-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	--acme-shadow-elevation-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	--acme-shadow-elevation-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
	--acme-shadow-elevation-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	--acme-shadow-elevation-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
	--acme-shadow-elevation-6: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
	--acme-shadow-elevation-7: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
	--acme-shadow-elevation-8: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
	--acme-shadow-elevation-9: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

	/* background-image  */
	--acme-overlay-elevation-0: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	--acme-overlay-elevation-1: linear-gradient(rgba(255, 255, 255, 0.051), rgba(255, 255, 255, 0.051));
	--acme-overlay-elevation-2: linear-gradient(rgba(255, 255, 255, 0.069), rgba(255, 255, 255, 0.069));
	--acme-overlay-elevation-3: linear-gradient(rgba(255, 255, 255, 0.082), rgba(255, 255, 255, 0.082));
	--acme-overlay-elevation-4: linear-gradient(rgba(255, 255, 255, 0.092), rgba(255, 255, 255, 0.092));
	--acme-overlay-elevation-5: linear-gradient(rgba(255, 255, 255, 0.108), rgba(255, 255, 255, 0.108));
	--acme-overlay-elevation-6: linear-gradient(rgba(255, 255, 255, 0.119), rgba(255, 255, 255, 0.119));
	--acme-overlay-elevation-7: linear-gradient(rgba(255, 255, 255, 0.135), rgba(255, 255, 255, 0.135));
	--acme-overlay-elevation-8: linear-gradient(rgba(255, 255, 255, 0.147), rgba(255, 255, 255, 0.147));
	--acme-overlay-elevation-9: linear-gradient(rgba(255, 255, 255, 0.165), rgba(255, 255, 255, 0.165));
}

.dark-theme {
	--acme-primary-color: #66b3ff;
	--acme-bg-page: #121212;
	--acme-info: #A8A8A8;
	--acme-success: #0CF49B;
	--acme-error: #FD1050;
	--acme-warn: #FFD700;
	--acme-copyright-color: var(--acme-primary-color);
	--acme-empty-data-color: var(--acme-info);
	--acme-fmt-color: #f8f8f8;
	--acme-input-placeholder-color: var(--acme-info);
	--acme-input-color: #f8f8f8;
	--acme-input-border-color: #444444;
	--acme-preset-selector-active: #f8f8f8;
	--acme-preset-selector-unactive: #f8f8f8;
	--acme-preset-selector-active-bg: var(--acme-primary-color);
	--acme-preset-selector-unactive-bg: #2e2c2c;



	/* 	--acme-bg-card: #2a2a2a;
	--acme-chart-line-color: #FD1050;
	--acme-chart-area-gradient-start: rgba(253, 16, 80, 0.3);
	--acme-chart-area-gradient-end: rgba(253, 16, 80, 0);
	--acme-chart-kline-up: #FD1050;
	--acme-chart-kline-down: #0CF49B; */
}

.light-theme {
	--acme-primary-color: teal;
	--acme-bg-page: #f8f8f8;
	--acme-info: #909399;
	--acme-success: #0CF49B;
	--acme-error: #FD1050;
	--acme-warn: #FFA500;
	--acme-copyright-color: var(--acme-primary-color);
	--acme-empty-data-color: var(--acme-info);
	--acme-fmt-color: #121212;
	--acme-input-placeholder-color: var(--acme-info);
	--acme-input-color: #121212;
	--acme-input-border-color: #e0e0e0;
	--acme-preset-selector-active: #121212;
	--acme-preset-selector-unactive: #121212;
	--acme-preset-selector-active-bg: var(--acme-primary-color);
	--acme-preset-selector-unactive-bg: #e3e3e3;


	/* 	--acme-bg-card: #ffffff;
	--acme-chart-line-color: #FD1050;
	--acme-chart-area-gradient-start: rgba(253, 16, 80, 0.3);
	--acme-chart-area-gradient-end: rgba(253, 16, 80, 0);
	--acme-chart-kline-up: #FD1050;
	--acme-chart-kline-down: #0CF49B; */
}